<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppleUSBCDC.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AppleUSBCDCACMControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AppleUSBCDCACMData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AppleUSBCDCDMM.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>AppleUSBCDCECMControl.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>AppleUSBCDCECMData.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AppleUSBCDCEEM.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>AppleUSBCDCWCM.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Build All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2277A0007417BF9002AF184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2277A0A07417BF9002AF184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2277A1807417BF9002AF184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2277A2707417BF9002AF184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2277A3607417BF9002AF184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2277A4407417BF9002AF184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2277A5307417BFA002AF184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2277A6207417BFA002AF184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2277A7907417BFA002AF184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
